#H1{
background-color: yellow;
font-weight: bold;
font-family: cursive;
}
.Special{
    background-color: hotpink;
font-weight: bold;
font-family: cursive;
}
.Special1{
    background-color: indigo;
}
p.Special{
    background-color: lightcoral;
}