ul{
    list-style: none;
    background-color: black;
    padding: 0px;
    overflow: hidden;
}
li{
    background-color:green;
    display: inline;
    padding: 5px;
    margin: 0;

}
a{
    color: whitesmoke;
}